@font-face {
  font-family: 'Fredoka One', cursive;
}
nav{
  font-family: 'Fredoka One', cursive;
  letter-spacing: 0.3em
}
li {
  display: inline;
  margin: 6px;
}
.navi{
  background-color:black;
  color:white;




}
